---
import NavMenu from "./BarMenu/NavMenu.astro";
import HamburgerNavMenu from "./HamburgerMenu/HamburgerNavMenu.jsx";
import defaultTheme from "tailwindcss/defaultTheme";

// Props with default breakpoint "md" unless explicitly set to "none"
const {
  items,
  breakpoint = "none",
  menuClass = "",
  listClass = "", // NEW prop for ul classes
  menuItem,
  submenuItem,
  isHierarchical = true,
} = Astro.props as {
  items: any;
  breakpoint?: keyof typeof defaultTheme.screens | "none";
  menuClass?: string;
  listClass?: string;
  menuItem?: any;
  submenuItem?: any;
  isHierarchical?: boolean;
};

const noBreakpoint = breakpoint === "none";

const responsiveClasses: Record<string, { show: string; hide: string }> = {
  sm: { show: "sm:block", hide: "sm:hidden" },
  md: { show: "md:block", hide: "md:hidden" },
  lg: { show: "lg:block", hide: "lg:hidden" },
  xl: { show: "xl:block", hide: "xl:hidden" },
  "2xl": { show: "2xl:block", hide: "2xl:hidden" },
};

const bpValue = noBreakpoint
  ? null
  : defaultTheme.screens[breakpoint] || defaultTheme.screens.md;

const showClass = !noBreakpoint && responsiveClasses[breakpoint] ? responsiveClasses[breakpoint].show : "";
const hideClass = !noBreakpoint && responsiveClasses[breakpoint] ? responsiveClasses[breakpoint].hide : "";
---

{
  !noBreakpoint ? (
    <>
      <nav class={`hidden ${showClass} ${menuClass}`}>
        <NavMenu
          items={items}
          menuItem={menuItem}
          submenuItem={submenuItem}
          isHierarchical={isHierarchical}
          breakpoint={breakpoint}
          listClass={listClass} 
        />
      </nav>
      <div class={`block ${hideClass}`}>
        <HamburgerNavMenu
          client:media={`(max-width: ${bpValue})`}
          items={items}
          menuItem={menuItem}
          submenuItem={submenuItem}
          isHierarchical={isHierarchical}
          breakpoint={breakpoint}
          listClass={listClass}  
        />
      </div>
    </>
  ) : (
    <nav class={menuClass}>
      <NavMenu
        items={items}
        menuItem={menuItem}
        submenuItem={submenuItem}
        isHierarchical={isHierarchical}
        breakpoint={breakpoint}
        listClass={listClass}  
      />
    </nav>
  )
}
