---
import "../BarMenu/menu.css";
import NavMenuList from "./NavMenuList.astro";
const { 
  items = [], 
  menuItemClass = "", 
  submenuClass = "", 
  isHierarchical = true, 
  menuItemComponent,
  breakpoint
} = Astro.props;
---
<nav>
  <NavMenuList 
    items={items} 
    class="flex gap-[var(--spacing-md)]" 
    menuItemClass={menuItemClass}
    submenuClass={submenuClass}
    isHierarchical={isHierarchical}
    menuItemComponent={menuItemComponent}
    breakpoint={breakpoint}
  />
</nav>
