---
// src/pages/contact-us.astro
import SecondaryHero from "@/components/Section/StaticSections/SecondaryHero.astro";
import ExtendedLayout from "../layouts/ExtendedLayout.astro";
import { ContactData } from "@/content/SiteData";
import ContactForm from "@/components/Form/Forms/ContactForm.astro";
import Section from "@/components/Section/Section.astro";
---
<ExtendedLayout title="Contact Us" description="Get in touch with Cleanomatic">
  <Section
  variant="secondaryHero"
  heading={[{ text: "Contact Us", tagName: "h1", class: "h1 text-bg" }]}
  description="Get in touch with Cleanomatic"
/>

  <section class="p-[var(--spacing-lg)]">
    <h1>Contact Us</h1>
    <p>
      If you have any questions, please email us at 
      <a href=`mailto:${ContactData.email}`>{ContactData.email}</a>
      or call 
      <a href={`tel:${ContactData.phone}`}>{ContactData.phone}</a>.
    </p>
  </section>
  <section class="p-[var(--spacing-lg)]">
    <h2>Contact Form</h2>
    <p>Fill out the form below and we will get back to you as soon as possible.</p>
    <ContactForm
      name="contact-form"
      enableSuccessBanner={true}
      successBannerMessage="Thank you for your message. We will get in touch with you shortly."
      successBannerClass="p-[var(--spacing-sm)] bg-primary text-bg border border-[var(--color-border)] bg-light-opacity">
    
</ExtendedLayout>
