---
// src/pages/index.astro
import BaseLayout from "@/layouts/BaseLayout.astro";
import Section from "@/components/Section/Section.astro";
import Card from "@/components/LoopComponents/Card";
import { SiteData } from "@/content/SiteData";
import ImageCard from "@/components/LoopComponents/ImageCard.astro";
import LogoLoop from "@/components/LoopComponents/LogoLoop.astro";
import HeroBg from "@/assets/hero-bg.jpg";
import ChillerDude from "@/assets/chiller-dude.png";
import CTAbg from "@/assets/bg-1.png";
import { Image } from "astro:assets";
---

<BaseLayout
  title="Welcome to Greactstro!"
  description="Your gateway to amazing projects."
>
  <!-- Hero Section -->
  <Section
    sectionClass="relative min-h-[100vh] flex items-center justify-center bg-cover bg-fixed bg-center z-10 md:p-[var(--spacing-lg)] text-bg text-xl"
    ,
    contentClass="text-center space-y-[var(--spacing-md)]"
    ,
    buttonsSectionClass="mt-[var(--spacing-sm)] flex flex-wrap gap-[var(--spacing-md)] justify-center"
    ,
    topContentClass="z-[999999] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 lg:top-0 lg:left-auto lg:right-[-30px] lg:translate-x-0 lg:translate-y-0 bg-[rgba(209,49,30,0.55)] h-[400px] w-[400px] md:h-[450px] md:w-[450px] lg:h-[650px] lg:w-[650px] rounded-full flex items-center justify-center"
    headingAreaClass="flex flex-col items-center justify-center gap-[var(--spacing-md)] lg:-mb-[var(--spacing-xl)]"
    ,
    buttonsPlacement="section-heading-area"
    backgroundMedia={{
      image: {
        src: HeroBg,
        imageClass: "bg-cover bg-center xl:bg-fixed",
      },
      overlayClass: "bg-text opacity-50",
    }}
    heading={{
      before: "Heating.",
      text: "Cooling.",
      after: "Handled.",
      tagName: "h1",
      class: "flex flex-col text-bg",
    }}
    buttons={[
      { text: "Get A Quote", link: "/contact-us", variant: "tertiary" },
    ]}
  >
    <Image
      src={ChillerDude}
      alt="Universal Chillers Logo"
      class="hidden lg:block w-100 lg:w-130 h-auto mx-auto absolute bottom-0 left-2/5 transform -translate-x-2/5"
      loading="lazy"
      fetchpriority="high"
    />
  </Section>

  <Section
    sectionClass="text-center"
    contentClass="section-sm"
    heading={{ text: `About ${SiteData.title}`, tagName: "h2" }}
    buttons={[{ text: "Learn More", link: "/about-us", variant: "primary" }]}
    childPlacement="section-heading-area"
    buttonsPlacement="section-heading-area"
    headingAreaClass="flex flex-col gap-[var(--spacing-md)] items-center justify-center"
  >
    <div
      class="flex gap-[var(--spacing-md)] flex-col items-center justify-center"
    >
      <h3 class="h3">
        Universal Chillers delivers <span class="text-secondary">heating</span> and
        <span class="text-primary">cooling</span> systems with the power, precision,
        and performance your facility needs.
      </h3>
      <p class="p-0 m-0">
        Universal Chillers designs, installs, and maintains large-scale HVAC
        systems for commercial and industrial facilities across all 50 states.
        We specialize in air-cooled and water-cooled chillers—serving hospitals,
        data centers, factories, and critical spaces nationwide.
      </p>
      <p class="p-0 m-0">
        From rooftop chillers to boiler rooms, cooling towers, and
        industrial-grade boilers, our systems are engineered for serious
        performance. Whether it's a new install, urgent repair, or long-term
        maintenance, we keep America chillin’
      </p>
    </div>
  </Section>

  <!-- What We DO -->
  <Section
    collection="whatWeDo"
    query="getAll"
    sectionClass="flex flex-col items-center justify-center section-sm py-[var(--spacing-xl)] lg:py-[var(--spacing-lg)]"
    contentClass="flex flex-col items-center justify-center mx-auto w-9/10"
    itemsClass="flex flex-col md:flex-row items-start justify-center gap-[var(--spacing-xl)]"
    headingAreaClass="flex flex-col md:flex-row items-center justify-center gap-[var(--spacing-sm)] lg:gap-[var(--spacing-lg)] mb-[var(--spacing-xl)]"
  />

  <!-- Brands We Service -->
  <Section
    collection="brands"
    query="getAll"
    component={LogoLoop}
    sectionClass="min-h-[50vh] flex items-center justify-center"
    contentClass="mx-auto w-9/10"
    itemsClass="flex justify-between items-center py-[var(--spacing-md)] flex-wrap gap-[var(--spacing-sm)]"
  />

  <!-- Projects -->
  <!-- <Section
    collection="projects"
    query="getAll"
    heading={{ text: "Our Projects", tagName: "h2" }}
  /> -->

  <!-- Testimonials -->
  <!-- <Section collection="testimonials" query="getAll" /> -->

  <!-- <Section collection="faq" query="getAll" /> -->
  <Section
    heading={{ text: `${SiteData.title}`, tagName: "h2", class: "text-bg" }}
    description={SiteData.tagline}
    buttons={[
      { text: "Get A Quote", link: "/contact-us", variant: "tertiary" },
    ]}
    contentClass="section-sm text-center"
    headingAreaClass="flex flex-col items-center justify-center gap-[var(--spacing-md)] mx-auto w-full lg:w-2/3"
    buttonsPlacement="section-heading-area"
    backgroundMedia={{
      image: {
        src: HeroBg,
        imageClass: "bg-cover bg-center xl:bg-fixed",
      },
      overlayClass: "bg-text opacity-50",
    }}
    sectionClass="relative min-h-[80vh] flex items-center justify-center z-10 md:p-[var(--spacing-lg)] text-bg text-xl"
  />
</BaseLayout>
