---
import MenuItem from "@/components/Menu/MenuItem.astro";
import Menu from "@/components/Menu/Menu.astro";
import { SiteData } from "@/content/SiteData";
import { Image } from "astro:assets";
import LogoFooter from "@/assets/logo-w-tagline.png";
import Heading from "@/components/Heading";

const footerMenuContainer = "footer-container text-left flex flex-col items-start justify-center"
const menuLabelClass = "h3 pb-[var(--spacing-md)]";
const menuItemsClass = "flex flex-col gap-[var(--spacing-sm)] h5";
---

<footer class="flex flex-col w-9/10 mx-auto bg-[var(--color-bg)] text-[var(--color-text)] load slide-up">
  <div class="footer-top flex flex-wrap justify-between items-start py-[var(--spacing-xl)] lg:py-[var(--spacing-2xl)]">
     <div class="footer-container flex flex-col items-start justify-center text-start w-full md:w-1/4">
   <Image
     src={LogoFooter}
     alt={`${SiteData.title} logo`}
     class="mx-auto lg:mx-0 h-full w-5/10 md:w-7/10 md:h-auto mb-[var(--spacing-md)]"
     format="webp"
     loading="lazy"
     fetchpriority="low"
   />
   <p class="text-center lg:text-left">{SiteData.description}</p>
 </div>
  <div class={footerMenuContainer}>
    <Heading tagName="label" className={menuLabelClass}>
      Quick Links
    </Heading>
    <Menu
    collection="menuItems"
    query="relatedItem:menus:footerMenu"
    sortOrder="desc"
    ItemComponent={MenuItem}
    itemsClass={menuItemsClass}
    itemClass=""
  />
  </div>
    <div class={footerMenuContainer}>
    <Heading tagName="label" className={menuLabelClass}>
      Quick Links
    </Heading>
    <Menu
    collection="menuItems"
    query="relatedItem:menus:footerMenu"
    sortOrder="desc"
    ItemComponent={MenuItem}
    itemsClass={menuItemsClass}
    itemClass=""
  />
  </div>
  <div class={footerMenuContainer}>
    <Heading tagName="label" className={menuLabelClass}>
      Quick Links
    </Heading>
    <Menu
    collection="menuItems"
    query="relatedItem:menus:footerMenu"
    sortOrder="desc"
    ItemComponent={MenuItem}
    itemsClass={menuItemsClass}
    itemClass=""
  />
  </div>
  </div>
  <div class="footer-bottom w-full text-center">
    <hr class="border-b border-1 border-gray-200 mb-[var(--spacing-md)] w-full mx-auto" />
    <p class="mt-[var(--spacing-md)] text-[var(--font-size-sm)]">
      &copy; {new Date().getFullYear()} {SiteData.title} LLC All rights reserved.
    </p>
  </div>
</footer>
