---
import { SiteData } from "@/content/SiteData";
import { buildContentQueries } from "@/utils/ArrayQueryUtils";
import Menu from "../components/Menu/Menu.astro";
import { Image } from "astro:assets";
import Heading from "./Heading";

const baseMainNavMenu = [
  { id: "home", label: "Home", slug: "/" },
  { id: "about", label: "About Us", slug: "/about-us" },
  { id: "contact", label: "Contact", slug: "/contact-us", position: "append", weight: 100 },
];
const finalQueries = await buildContentQueries({ MainNavMenu: baseMainNavMenu });
const headerMenu = finalQueries.MainNavMenu || [];
---
<header class="flex justify-between items-center p-[var(--spacing-md)]">
  <a href="/" class="flex items-center">
    <Image
      src={SiteData.logo.src}
      alt={`${SiteData.title} logo`}
      class="h-12"
      format="webp"
      loading="eager"
      fetchpriority="high"
    />
    <div class="header-text">
      <Heading tagName={"h1"} className="h2">
        {SiteData.title}
      </Heading>
      <Heading tagName={"h2"} className="h5">
        {SiteData.tagline}
      </Heading>
    </div>
  </a>
  <Menu items={headerMenu} hamburgerOnly={false} />
</header>
