---
// src/components/LoopComponents/ServiceSection.astro
import Section from "../Section/Section.astro";
import Button from "../Button/Button.jsx";
import Heading from "../Heading.jsx";

const { item, itemClass = "", collectionName, HasPage = false } = Astro.props;

const description = item.data.description ?? item.body;
const effectiveHasPage =
  item.data.hasPage !== undefined ? item.data.hasPage : HasPage;
---

<Section
  sectionClass={`w-screen h-[60vh] md:h-[70vh] lg:h-screen bg-center relative flex flex-col justify-center items-center ${itemClass}`}
  contentClass="text-bg w-7/8 lg:w-3/4 "
  backgroundMedia={{
    image: {
      src: item.data.featuredImage,
      imageClass: "bg-cover bg-center",
    },
  }}
>
  {/* extra overlay in case Section doesn’t add one */}
  <div
    class="relative mx-auto first:mt-[var(--spacing-4xl)] first:mb-0 mt-0 mb-[var(--spacing-2xl)] px-[var(--spacing-md)] text-center"
  >
    <Heading class="text-bg text-4xl mb-[var(--spacing-md)]"
      >{item.data.heading}</Heading
    >
    {description && <p class="mb-[var(--spacing-md)]">{description}</p>}

    {
      effectiveHasPage ? (
        <Button href={`/${collectionName}/${item.slug}`} variant="tertiary">
          View Service
        </Button>
      ) : (
        <Button href="/contact" variant="tertiary">
          Contact Us
        </Button>
      )
    }
  </div>
</Section>
