---
// src/components/ImageCard.astro

import Button from "../Button/Button.jsx";
import Heading from "../Heading.jsx";
import { Image } from "astro:assets";

const { item, itemClass = "", collectionName, HasPage = false } = Astro.props;

// Determine whether to show the button
const effectiveHasPage = item.data.hasPage !== undefined ? item.data.hasPage : HasPage;
---

<article class={`card ${itemClass} load scale-up w-full md:flex-2/5 xl:flex-1/4 flex flex-col items-center`}>
  <div class="card-image w-full hover:opacity-50 duration-500">
    {item.data.featuredImage && (
        <Image
          src={item.data.featuredImage}
          alt={item.data.title}
          class="w-full h-full object-cover rounded-2xl"
          loading="lazy"
          format="webp"
          quality="low"
        />
    )}
  </div>

  <div class="card-container flex flex-col justify-center items-start w-full bg-bg h-32 md:h-42">
    <Heading tagName="h3" className="mb-[var(--spacing-md)] text-[var(--color-text)]">
      {item.data.title}
    </Heading>

    <p class="mb-[var(--spacing-md)]">
      {item.data.description ?? item.body}
    </p>

    {effectiveHasPage && (
      <Button variant="primary" href={`/${collectionName}/${item.slug}`}>
        View More
      </Button>
    )}
  </div>
</article>
