---
// src/components/ImageCard.astro

import Button from "../Button/Button.jsx";
import Heading from "../Heading.jsx";
import { Image } from "astro:assets";

const { item, itemClass = "", collectionName, HasPage = false } = Astro.props;

// Determine whether to show the button
const effectiveHasPage =
  item.data.hasPage !== undefined ? item.data.hasPage : HasPage;
---

<article
  class={`card ${itemClass} w-full md:flex-2/5 xl:flex-1/4 flex flex-col justify-left items-center`}
>
    {
      item.data.featuredImage && (
        <Image
          src={item.data.featuredImage}
          alt={item.data.title}
          class="w-full h-full rounded-2xl shadow-lg load scale-up"
          loading="lazy"
          height={300}
          width={300}
          format="webp"
          quality="low"
        />
      )
    }

  <div
    class="card-container load slide-up flex flex-col justify-center items-start p-[var(--spacing-md)] lg:p-[var(--spacing-sm)] w-full h-full"
  >
      <!-- {
        item.data.icon && (
          <img
            src={item.data.icon}
            alt={`${item.data.title} icon`}
            class="mb-[var(--spacing-sm)] w-8 h-8"
          />
        )
      } -->
        <div class="card-text gap-[var(--spacing-sm)] py-[var(--spacing-sm)] flex flex-col items-start">
      <Heading
        tagName="h3"
        className="text-[var(--color-text)]"
      >
        {item.data.title}
      </Heading>

      <p>
        {item.data.description ?? item.body}
      </p>
</div>
      {
        effectiveHasPage && (
          <Button variant="primary" href={`/${collectionName}/${item.slug}`}>
            View More
          </Button>
        )
      }
  </div>
</article>
