---
// src/layouts/BaseLayout.astro
import SEO from '@/layouts/SEO.astro';
import Theme from '@/layouts/Theme.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Marketing from '@/layouts/Marketing.astro';
import { SiteData } from '@/content/SiteData';

const {
  title = SiteData.title,
  description = SiteData.description,
  image = SiteData.logo,
  canonicalUrl,
  robots,
  siteName = SiteData.title,
  ogType,
  crawl = true,
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <SEO
    title={title}
    description={description}
    image={image}
    canonicalUrl={canonicalUrl}
    robots={robots}
    siteName={siteName}
    ogType={ogType}
  />
  <Theme />
  <slot name="head" />
</head>
<body class="m-0 p-0 w-full h-full font-sans">
  <Header />
  <main class="min-h-[80vh] bg-[var(--color-bg)] text-[var(--color-text)]">
    <slot />
  </main>
  <Footer />
    <!-- <Marketing /> -->
</body>
</html>
