---
import Section from "@/components/Section/Section.astro";
import Button from "@/components/Button/Button";
import { getCollection } from 'astro:content';
import ChillersImg from "@/assets/Chiller.jpg";
import BoilersImg   from "@/assets/Boiller.jpg";

// Fetch all service entries from the `services` content collection
const allServices = await getCollection('services');

// Find the individual entries for chillers and boilers
const chillers = allServices.find(s => s.slug === 'chillers');
const boilers  = allServices.find(s => s.slug === 'boilers');

const defaultSlug = "/contact"; // Default slug for services without a dedicated page

// Default background panel classes
const baseSecClasses =
  "load fade-in min-h-[50vh] lg:min-h-[65vh] xl:min-h-[90vh] w-full bg-cover bg-center flex justify-center";
  const headingClass = "text-2xl lg:text-3xl xl:text-4xl font-bold load slide-down font-heading";
  const paragraphClass = "max-w-prose text-base lg:text-lg load slide-up";
  const serviceContainerClass = "flex flex-col items-center justify-center text-center p-8 lg:p-16 text-bg space-y-[var(--spacing-md)]";
  const buttonsClass = "load scale-up";
  const buttonVariant = "tertiary";
---

<Section sectionClass="p-0 m-0" contentClass="p-0 m-0" childSlotClass="p-0 m-0">
  {/* Chillers Panel */}
  <div
    class={`${baseSecClasses} items-center lg:items-end lg:pb-[var(--spacing-xl)]`}
    style={`background-image: url(${ChillersImg.src});`}
  >
    <div class={serviceContainerClass}>
      <h2 class={headingClass}>
        {chillers.data.heading}
      </h2>
      <p class={paragraphClass}>
        {chillers.data.description}
      </p>
      <Button
        href={chillers.data.hasPage ? `/services/${chillers.slug}` : defaultSlug}
        variant={buttonVariant}
        className={buttonsClass}
      >
    {chillers.data.hasPage ? "Learn More" : "Contact Us"}
    </Button>
    </div>
  </div>

  {/* Boilers Panel */}
  <div
    class={`${baseSecClasses} items-center lg:items-start lg:pt-[var(--spacing-xl)]`}
    style={`background-image: url(${BoilersImg.src});`}
  >
    <div class={serviceContainerClass}>
      <h2 class={headingClass}>
        {boilers.data.heading}
      </h2>
      <p class={paragraphClass}>
        {boilers.data.description}
      </p>
      <Button
        href={boilers.data.hasPage ? `/services/${boilers.slug}` : defaultSlug}
        variant={buttonVariant}
        className={buttonsClass}
      >
        {boilers.data.hasPage ? "Learn More" : "Contact Us"}
      </Button>
    </div>
  </div>
</Section>
