---
// Layout.astro
import Header from '@/components/Header.astro';
import Footer from '../components/Footer.astro';
import { SiteData } from '@/content/SiteData';
import '../styles/global.css';

const {
  title = SiteData.title,
  description = SiteData.description,
  image = SiteData.logo,
  ogType = "website",
  canonicalUrl,
  robots,
  siteName = SiteData.title,
  crawl = true,
} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href={image} />

  <title>{title}</title>
  <meta name="description" content={description} />
  {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}
  {robots && <meta name="robots" content={robots} />}
  {!crawl && <meta name="robots" content="noindex, nofollow" />}

  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:type" content={ogType} />
  <meta property="og:site_name" content={siteName} />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />

  <slot name="head" />
  <slot name="structuredData" />
</head>
<body class="m-0 p-0 w-full h-full font-sans bg-[var(--color-bg)] text-[var(--color-text)]">
  <Header />
  <main class="min-h-[80vh]">
    <slot />
  </main>
  <Footer />
</body>
</html>
